@font-face {
	font-family: SperryPC;
	src: url(/static/fonts/Px437_SperryPC_8x16.ttf);
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: SperryPC;
}

body {
	background-color: black;
	color: white;
}

::selection {
	background-color: #ffffff;
	color: #000000;
}

div.main-ui {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

div.menu-text {
	display: flex;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    flex-direction: column;
    padding: 25px;
}

div.menu-table {
	display: flex;
	justify-content: center;
}

div.menu-table table {
	width: 50%;
	border: 1px solid white;
}

div.menu-table tr.pad {
	height: 0.3rem;
}

div.menu-table tr:not(.pad)[state="1"], div.menu-table tr:not(.pad):hover {
	background-color: white;
	color: black;
}

div.boot-img {
	display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

div.boot-img img {
	width: min-content;
    height: min-content;
}

div.error {
	display: flex;
	flex-direction: column;
	padding-left: 0.5rem;
	padding-top: 1rem;
}